<html lang="es">

<head>
    <title>PcFucktory</title>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>

<body>
 
    <div class="mientras">
        <img src="image/construccion.jpg">
    </div>

    <!--Footer ordenado, falta posicionar abajo de la pagina-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Medios de pago</h4>
                    <ul>
                        <li><a href="#"><i class="fab fa-cc-mastercard"> Mastercard</i></a></li>
                        <li><a href="#"><i class="fab fa-cc-paypal"> Paypal</i></a></li>
                        <li><a href="#"><i class="fab fa-cc-visa"> Visa</i></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Menú</h4>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Contactar un vendedor</a></li>
                        <li><a href="#">Página principal</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Novedades</h4>
                    <ul>
                        <li><a href="#">SmartWatch</a></li>
                        <li><a href="#">Mochilas</a></li>
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Cámaras</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Social Links</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="derechos">
            <h4>&copy; 2021 Pcfucktory. Todos los derechos reservados.</h4>
        </div>
    </footer>



</body>

</html>